@using EducationalProject.Models
@model IEnumerable<EducationalProject.Controllers.HomeController.BooksWrapper>

@{
    ViewBag.Title = "Literature";
}



@*<script id="bookTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td>${Name}</td>
        <td>${Author}</td>
        <td>${Description}</td>
    </tr>
</script>*@


<script id="bookTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td>${BookSection}</td>
        <td>${Name}</td>
        <td>${Description}</td>
        <td>${Author}</td>
    </tr>
</script>
<h2 align="center">Literature</h2>

<table border="1" class="simple-little-table">
    <caption>Recommended Literature</caption>
    <tr>
        <th>Type</th>
        <th>Book Name</th>
        <th>Description</th>
        <th>Author</th>
    </tr>
    <tbody id="bookList">
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.BookSection</td>
                <td>@book.Name</td>
                <td>@book.Description</td>
                <td>@book.Author</td>
            </tr>
        }
    </tbody>

</table>

<input type="button" id="btnBook" value="Show Data" />
<script>
    $("#btnBook").click(function () {
      
        $.getJSON("/Home/GetJson/", function (data) {

            //debugger;
            //$('#bookTemplate').tmpl(data).appendTo("#bookList");
            $("#bookList").html($("#bookTemplate").tmpl(data));
           
        });
    });
    function showBooks(e) {
        
        $.getJSON("/Home/GetJson/", function (data) {

            debugger;
            //$("#bookTemplate").tmpl(data).appendTo("#bookList");
            //   $("#bookList")//.html($("#bookTemplate").tmpl(data));
            debugger;
        });
        //$.ajax({
        //    // Get Faculty PartialView
        //    url: "/Home/FacultiesToPVDemo",
        //    type: 'Get',
        //    data: { courseName: selectedCourseName },
        //    success: function (data) {
        //        $("#facultyDetailTable").empty().append(data);
        //    },
        //    error: function () {
        //        alert("something seems wrong");
        //    }
        //});
    }

    function GetDate(jsonDate) {
        var value = new Date(parseInt(jsonDate.substr(6)));
        return value.getMonth() + 1 + "/" + value.getDate() + "/" + value.getFullYear();
    }


</script>
